.container{
    flex: 4;
}
.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0% 3% 3% 3%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 12px !important;

}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: teal;
    color: white;
    padding: 1% 0%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
.bar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2% 0%;
}
.bar span {
    flex: 1;

}

.bar2 span {
    flex: 1;

}

.btn {
    color: white;
    background-color: teal;
    margin-left: 5%;
    border-radius: 12px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

